.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.user-card {
  background: rgb(250, 161, 213);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 100%; /* allow it to shrink properly */
  box-sizing: border-box;
}

